{
    "parser": "@typescript-eslint/parser",
    "extends": "airbnb",
    "plugins": ["@typescript-eslint", "jest"],
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "rules": {
        "react/jsx-filename-extension": "off",
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-one-expression-per-line": "off",
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": true
        }],
        "import/prefer-default-export": "off",
        "import/no-unresolved": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
    }
}