$c-primary: tomato;
$c-background: rgba(white, 0.1);

$bar-height: 10px;
$dot-size: $bar-height * 2;

:local .container {
    margin-top: 100px;
    width: 70%;
    background: #222;
    padding: 30px;
}

:local .bar {
    position: relative;
    background: $c-background;
    box-shadow: 0 0 5px rgba(black, .2);
    height: $bar-height;

    &-fill {
        position: absolute;
        top: 0;
        left: 0;
        background: $c-primary;
        width: 100%;
        height: 100%;
        transform-origin: top left;
        will-change: width;
    }

    &-dot {
        position: absolute;
        top: 50%;
        left: 0;
        width: $dot-size;
        height: $dot-size;
        background: $c-primary;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        will-change: left;
    }

    &-trim {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        background: red;
        width: 20px;
        height: 20px;
        transform: translateX(-50%);
        will-change: left;
    }
}
