#app {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video {
    width: 75%;
    position: relative;
    background: black;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    input {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}
