// colors
$c-text: #222;

// typography
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 16;
$font-size: $font-size-base * 1px;
