@import url("~normalize.css/normalize.css");

$color-background: #EEE;
$color-text: #333;

:root {
    --color-background: #eee;
    --color-accent: #ddd;
    --color-brand: tomato;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
    background-color: var(--color-brand);
    color: $color-text;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    height: 100%;
}

code {
    background: white;
    padding: 0.3em;
}

section {
    padding: 15px;
}

:global #app {
    width: 100%;
    height: 100%;
}
