@import url('~normalize.css/normalize.css');

:root {
  --c-background: #eee;
  --c-text: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: arial, sans-serif;
  background: var(--c-background);
  color: var(--c-text);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  min-height: 100%;
}

code {
  background: white;
  padding: 0.3em;
}

section {
  padding: 15px;
}
